.home-page {
    > img {
        height: 50px;
        position: absolute;
        bottom: 48px;
        left: 10px;
    }
    .global-play-container {
        background-color: white;
        padding: 5px;
        position: fixed;
        width: 100%;
        bottom: 0;
        button {
            border: none;
            background-color: transparent;
            &:not(:last-of-type) {
                margin-inline-end: 5px;
            }
            img {
                height: 40px;
                @media (max-width: 350px) {
                    height: 30px;
                }
            }
        }
        .play-time-status {
            width: 100%;
            position: relative;
            > span {
                height: 100%;
                display: block;
                position: absolute;
                border-left: 2px solid gray;
            }
            > label {
                margin: auto;
                font-weight: 700;
                color: rgb(212, 42, 84);
                &.playback-mode {
                    color: rgb(18, 124, 18);
                }
                @media (max-width: 350px) {
                    font-size: rem(12px);
                }
            }
            &.active {
                > span {
                    animation: play-anim linear 0s infinite normal forwards;
                    @keyframes play-anim {
                        0% {
                            left: 0%;
                        }
                        20% {
                            left: 20%;
                        }
                        40% {
                            left: 40%;
                        }
                        60% {
                            left: 60%;
                        }
                        80% {
                            left: 80%;
                        }
                        100% {
                            left: 100%;
                        }
                    }
                }
            }
        }
    }
}
