// Colors
$clr1: #13acca;
$clr2: #c51162;
$clr3: #3f51bc;
$clr4: #58c93a;
$clr5: #5dade2;
$clr6: #d90007;
$clr7: #5181c0;

// Breakpoints
$mobile-breakpoint: 580px;
$narrow-breakpoint: 860px;
$normal-breakpoint: 1000px;

// Various
$header-height: 75px;
