.pad-preview {
    height: 100%;
    width: 100%;
    border-radius: 7px;
    transition: transform 0.1s, box-shadow 0.1s;

    animation: intro-anim 0.2s ease-in 0s 1;
    @keyframes intro-anim {
        0% {
            transform: scale(0.2);
        }
        25% {
            transform: scale(0.4);
        }
        50% {
            transform: scale(0.6);
        }
        75% {
            transform: scale(0.8);
        }
        100% {
            transform: scale(1);
        }
    }

    &:hover {
        transform: scale(1.01);
    }
    &.active {
        box-shadow: 1px 1px 10px 5px #ccc;
    }
    > button {
        height: inherit;
        width: inherit;
        border: none;
        color: white;
        background-color: #333;
        border-radius: inherit;

        > span {
            font-weight: 600;
            @media (min-width:700px){
                font-size: 1.5em;
            }
        }
    }
}
